USE [master]
GO
/****** Object:  Database [DistribuzioniUtenze]    Script Date: 13/04/2024 15:06:18 ******/
CREATE DATABASE [DistribuzioniUtenze]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DistribuzioniUtenze', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuzioniUtenze.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DistribuzioniUtenze_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuzioniUtenze_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DistribuzioniUtenze].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DistribuzioniUtenze]
GO
/****** Object:  User [distribuzioniUtenze]    Script Date: 13/04/2024 15:06:19 ******/
CREATE USER [distribuzioniUtenze] FOR LOGIN [distribuzioniUtenze] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [distribuzioniUtenze]
GO
/****** Object:  Table [dbo].[Destinatari]    Script Date: 13/04/2024 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinatari](
	[IdDestinatario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Destinatari_1] PRIMARY KEY CLUSTERED 
(
	[IdDestinatario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListeDistribuzioni]    Script Date: 13/04/2024 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListeDistribuzioni](
	[IdLista] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[IdProprietario] [int] NOT NULL,
 CONSTRAINT [PK_ListeUtenze] PRIMARY KEY CLUSTERED 
(
	[IdLista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListeUtenzeAssociate]    Script Date: 13/04/2024 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListeUtenzeAssociate](
	[IdListaAssociata] [int] IDENTITY(1,1) NOT NULL,
	[IdDestinatario] [int] NOT NULL,
	[IdListaDistribuzione] [int] NOT NULL,
 CONSTRAINT [PK_ListaUtenzeAssociate] PRIMARY KEY CLUSTERED 
(
	[IdListaAssociata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 13/04/2024 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[Email] [varchar](100) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cognome] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[IdUtente] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Utenti] PRIMARY KEY CLUSTERED 
(
	[IdUtente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ListeDistribuzioni]  WITH CHECK ADD  CONSTRAINT [FK_ListeDistribuzioni_Utenti] FOREIGN KEY([IdProprietario])
REFERENCES [dbo].[Utenti] ([IdUtente])
GO
ALTER TABLE [dbo].[ListeDistribuzioni] CHECK CONSTRAINT [FK_ListeDistribuzioni_Utenti]
GO
ALTER TABLE [dbo].[ListeUtenzeAssociate]  WITH CHECK ADD  CONSTRAINT [FK_ListaUtenzeAssociate_Destinatari] FOREIGN KEY([IdDestinatario])
REFERENCES [dbo].[Destinatari] ([IdDestinatario])
GO
ALTER TABLE [dbo].[ListeUtenzeAssociate] CHECK CONSTRAINT [FK_ListaUtenzeAssociate_Destinatari]
GO
ALTER TABLE [dbo].[ListeUtenzeAssociate]  WITH CHECK ADD  CONSTRAINT [FK_ListaUtenzeAssociate_ListeDistribuzioni] FOREIGN KEY([IdListaAssociata])
REFERENCES [dbo].[ListeDistribuzioni] ([IdLista])
GO
ALTER TABLE [dbo].[ListeUtenzeAssociate] CHECK CONSTRAINT [FK_ListaUtenzeAssociate_ListeDistribuzioni]
GO
ALTER TABLE [dbo].[Utenti]  WITH CHECK ADD  CONSTRAINT [FK_Utenti_Utenti] FOREIGN KEY([IdUtente])
REFERENCES [dbo].[Utenti] ([IdUtente])
GO
ALTER TABLE [dbo].[Utenti] CHECK CONSTRAINT [FK_Utenti_Utenti]
GO
USE [master]
GO
