USE [master]
GO
/****** Object:  Database [DistribuzioniUtenze]    Script Date: 11/04/2024 16:06:28 ******/
CREATE DATABASE [DistribuzioniUtenze]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DistribuzioniUtenze', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuzioniUtenze.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DistribuzioniUtenze_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuzioniUtenze_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DistribuzioniUtenze].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DistribuzioniUtenze]
GO
/****** Object:  Table [dbo].[ListeUtenze]    Script Date: 11/04/2024 16:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListeUtenze](
	[Nome] [varchar](100) NOT NULL,
	[EmailProprietario] [varchar](100) NOT NULL,
	[Destinatari] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ListeUtenze] PRIMARY KEY CLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 11/04/2024 16:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[Email] [varchar](100) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cognome] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Utenti] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ListeUtenze]  WITH CHECK ADD  CONSTRAINT [FK_ListeUtenze_Utenti] FOREIGN KEY([EmailProprietario])
REFERENCES [dbo].[Utenti] ([Email])
GO
ALTER TABLE [dbo].[ListeUtenze] CHECK CONSTRAINT [FK_ListeUtenze_Utenti]
GO
ALTER TABLE [dbo].[Utenti]  WITH CHECK ADD  CONSTRAINT [FK_Utenti_Utenti] FOREIGN KEY([Email])
REFERENCES [dbo].[Utenti] ([Email])
GO
ALTER TABLE [dbo].[Utenti] CHECK CONSTRAINT [FK_Utenti_Utenti]
GO
USE [master]
GO
